<html>
<head>
  <meta charset="utf-8" />
  <title>Gulec Tarim ve Hayvanccılık</title>
  <%= wicked_pdf_stylesheet_link_tag 'application' %>
    <%= wicked_pdf_javascript_include_tag  'application' %>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2>Güleç Tarım ve Hayvancılık - Bütün Hayvanlar</h2>
            <div class="col new-animal">
                <div>Toplam Hayvan Sayisi: <strong><%= @animals.count %></strong></div>
            </div>
        </div>
          <%= render 'animals.pdf.erb', collection: @animals %>
        </div>
    </body>
</html>