<div class="row">
  <h2>Satılanlar ya da Ölenler</h2>
  <div class="col new-animal">
<div>Toplam Hayvan Sayısı: <strong><%= @animals.count %></strong></div>
    <%= link_to 'PDF İndir', no_exits_path(format: :pdf), class:"btn btn-danger", target: "_blank" %>
    <%= link_to "Yeni Hayvan Ekle", new_animal_path, class:"btn btn-success" %>
  </div>
</div>
<%= render 'animals', collection: @animals, cached: true %>
