// Place all the styles related to the animal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-animal{
    text-align: right;
}

.form-border{
    position: relative;
    padding: 2rem;
    margin: 1rem -15px 0;
    border: solid #f7f7f9;
    border-width: .2rem 3px 0;
}
.pagination{
    margin-left: auto;
    margin-right: auto;
}